<p>technicien reseau : Compétences techniques

    Tirage de câbles : Vous maîtrisez les techniques de pose et de raccordement des câbles.
    Câblage : Vous êtes compétent·e dans l’installation et la configuration des systèmes câblés.
    Connaissance et maîtrise des autocoms : Vous avez une expertise dans les systèmes de communication automatique.
    Connaissance et maîtrise de la téléphonie IP : Vous êtes à l’aise avec les technologies de téléphonie sur Internet.
    Connaissance et maîtrise en administration réseau : Vous gérez efficacement les infrastructures réseau. </p>
<p>ecrire fake phone calls, fake sms, fàke 
email, fake bank, fake e commerce, fake chat
</p>
<p>vous serez notamment amené(e) à :

    Réaliser la gestion et l'évolution du design system :
        Enrichir et maintenir les modules existants.
        Résoudre les bugs et améliorer la flexibilité des composants. 
    Participer au développement Webflow :
        Créer et optimiser des sites web (SEO friendly).
        Définir des CMS dynamiques et automatiser les affichages (livres blancs, webinaires, etc.). 
    Communiquer pour simplifier les usages aux équipes marketing :
        Adapter les outils pour un usage no-code .
        Former et accompagner les équipes non techniques. 
    Réaliser une intégration avancée :
        Ajouter des fonctionnalités via HTML, CSS, JS (tracking, personnalisation). 
    Mener un audit et arbitrage technique :
        Proposer des solutions adaptées et flexibles.
        Évaluer l'intérêt de composants vs modules 

Qualifications </p>
<p>creer un login, recupere infos users</p>
